@model PageViewModel<EPiBootstrapArea.SampleWeb.Models.Pages.StartPage>

<div class="row">
    <h3>Simple Rendering</h3>
    <hr/>
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
</div>

<div class="row">
    <h3>HasContainer = false</h3>
    <hr/>
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { HasContainer = false }):</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { HasContainer = false })
</div>

<div class="row">
    <h3>HasContainer = false, HasItemContainer = false</h3>
    <hr/>
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { HasContainer = false, HasItemContainer = false }):</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { HasContainer = false, HasItemContainer = false })
</div>

<div class="row">
    <h3>Simple Rendering Tag = TagAwareBlockTag</h3>
    <hr/>
    <div>Html.PropertyFor(x => x.CurrentPage.TagAwareBlockTagContentArea, new { Tag = "TagAwareBlockTag" }):</div>
    @Html.PropertyFor(x => x.CurrentPage.TagAwareBlockTagContentArea, new { Tag = "TagAwareBlockTag" })
</div>

<div class="row">
    <h3>HalfDisplayOptions Area</h3>
    <hr/>
    <div>Html.PropertyFor(x => x.CurrentPage.HalfDisplayOptionsContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.HalfDisplayOptionsContentArea)
</div>

<div class="row">
    <h3>RowSupport Area</h3>
    <hr/>
    <div>Html.PropertyFor(x => x.CurrentPage.RowSupportContentArea, new { rowsupport = true }):</div>
    @Html.PropertyFor(x => x.CurrentPage.RowSupportContentArea, new { rowsupport = true })
</div>

<div class="row">
    <h3>NonCultureSpecific Area</h3>
    <hr/>
    <div>Html.PropertyFor(x => x.CurrentPage.NoCultureSpecificContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.NoCultureSpecificContentArea)
</div>

@*<div class="row">
    <hr />
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { rowsupport = true}):</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { rowsupport = true, rowcssclass = "special-row" })
</div>


<div class="row">
    <hr />
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "test-class", ChildrenCssClass = "test-child-class" })</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "test-class", ChildrenCssClass = "test-child-class" })
</div>

<div class="row">
    <hr />
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { Tag = "TagAwareBlockTag" })</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { Tag = "TagAwareBlockTag" })
</div>*@

