@model PageViewModel<StartPage>

<div class="row">
    <h3>Simple Rendering</h3>
    <hr />
    <div>Html.PropertyFor(x => x.CurrentPage.MainContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { cssclass = "container" })
    <hr />
    <h3>1/2 Half Rendering</h3>
    <div>Html.PropertyFor(x => x.CurrentPage.OneHalfContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.OneHalfContentArea, new { cssclass = "container" })
    <hr />
    <h3>Row Rendering</h3>
    <div>Html.PropertyFor(x => x.CurrentPage.RowContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.RowContentArea, new { rowsupport = true })
    <hr />
    <h3>Single Row Validation</h3>
    <div>Html.PropertyFor(x => x.CurrentPage.SingleRowValidationArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.SingleRowValidationArea, new { rowsupport = true })
    <hr />
    <h3>Block With Default Display Option (1/2 half) & ICustomCssInContentArea</h3>
    <div>Html.PropertyFor(x => x.CurrentPage.BlockWithDefaultDisplayOptionArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.BlockWithDefaultDisplayOptionArea, new { cssclass = "container" })
    <hr />
    <h3>Content Area With Default Display Option (1/2 half)</h3>
    <div>Html.PropertyFor(x => x.CurrentPage.HalfDefaultDisplayOptionArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.HalfDefaultDisplayOptionArea, new { cssclass = "container" })
    <hr />
    <h3>Indexed Content Area</h3>
    <div>Html.PropertyFor(x => x.CurrentPage.IndexedContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.IndexedContentArea, new { cssclass = "container" })
    <hr />
    <h3>None Display Option Content Area</h3>
    <div>Html.PropertyFor(x => x.CurrentPage.NoneDisplayOptionContentArea):</div>
    @Html.PropertyFor(x => x.CurrentPage.NoneDisplayOptionContentArea, new { cssclass = "container" })
</div>
